.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
    z-index: 1;
}

.hero-container{
    justify-content: space-around;
    align-items: flex-end;
}

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, .12);
}

.image-container>img{
    width: 100%;
    height: 100%;
}

@media (max-width:640px){
    .hero-container{
        margin-top: 2rem;
    }
    .hero-title>h1{
        font-size: 2.5rem;
        line-height: 2rem;
    }
    .image-container{
        width: 95%;
        height: 25rem;
    }
    .stats{
        justify-content: center;
        gap: 1.5rem;
    }
    .stats>:nth-child(1){
        font-size: 1.5rem;
    }
    .stats>:nth-child(2){
        font-size: .8rem;
    }
    .hero-right{
        width: 100%;
    }
}